{% extends 'base.html' %}
{% block title %}{{ d.docname }}{% endblock %}
{% block main %}
<!-- Main -->
<div id="main">
    <div class="inner">
        <header>
            <h1>{{ d.docname }}</h1>
            <div class="inner row">
                <div class="col-6">
            <ul class="actions">
                <li><a href="#" class="button primary">Admissibility</a></li>
                <li><a href="{{ url_for('application_judg', appno = d.appno | replace('/', 'e')) }}" class="button">Judgment</a></li>
            </ul>
            </div>
                <div class="col-6 ">
            <ul class="actions" style="float:right;">
                <li style="display:flex;justify-content:flex-end;align-items:flex-end;">
                    <label for="order">Choose model:</label>
                </li>
                <li>
                <select name="order" id="order" onchange="window.location=this.value;">
                    {% for name in modelnames %}
                    <option value="{{ url_for('application_desc', appno = d.appno | replace('/', 'e')) }}?modelname={{ name[0] }}" {% if mname == name %}selected="selected"{% endif %}>{{name[0]}}</option>
                    {% endfor %}
                </select>
                </li>
            </div>

            </ul>
            </div>
        </header>
        <section>
            <div class="row">
                <div class="col-4 col-12-medium">
                    <h3>Information</h3>
                    <ul class="alt">
                        <li><b>Time: </b>{{ d.kpdate }}</li>
                        <li><b>Application number: </b>{{ d.appno }}</li>
                        <li><b>Country: </b>{{ d.respondent }}</li>
                        <li><b>Conclusion: </b>{{ d.conclusion }}</li>
                        {% if d.res == 0 %}
                        <li style='color: green;'><b>Result: </b>PASS</li>
                        {% elif d.res == 1 %}
                        <li style='color: red;'><b>Result: </b>FAIL</li>
                        {% else %}
                        <li style='color: blue;'><b>Result: </b>Model not applicable</li>
                        {% endif %}
                    </ul>
                    <h3>Our Prediction</h3>
                    <ul class="alt">
                        <li><b>Probability: </b>{{ dp.proba }}</li>
                        {% if dp.result %}
                        <li style='color: red;'><b>Result: </b>FAIL</li>
                        {% else %}
                        <li style='color: green;'><b>Result: </b>PASS</li>
                        {% endif %}

                        {% if d.res == dp.result %}
                        <li></li>
                        <li style='background-color: green; color: white; text-align: center;'><h2>Consistant</h2></li>
                        {% else %}
                        <li style='background-color: red; color: white; text-align: center;'><h2>Inconsistant</h2></li>
                        {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-8 col-12-medium">
                    <p>
                        {% for sent in sents %}
                        {% if sent_result[loop.index0] == 0 %}
                        <span data-toggle="popover" data-placement="top" data-trigger="hover" title="PASS" data-content="Probability: {{sent_proba[loop.index0]}}" {% if loop.index0 in critical_indexes %} style="background:{{critical_indexes[loop.index0]}}" {% endif %}>
                            {% autoescape false %}{{ sent | replace('\n', '<br>') }}{% endautoescape %}</span>
                        {% else %}
                        <span data-toggle="popover" data-placement="top" data-trigger="hover" title="FAIL" data-content="Probability: {{sent_proba[loop.index0]}}" {% if loop.index0 in critical_indexes %} style="background:{{critical_indexes[loop.index0]}}" {% endif %}>
                            {% autoescape false %}{{ sent | replace('\n', '<br>') }}{% endautoescape %}</span>
                        {% endif %}
                        <br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endblock %}