{% extends 'base.html' %}
{% block title %}{{ d.docname }}{% endblock %}
{% block main %}
<!-- Main -->
<div id="main">
    <div class="inner">
        <header>
            <h1>I {% if j and jp %}{% if j.res == jp.result %}<span style="color: #66bb6a">correctly</span>{% else %}<span style="color: #ef5350;">incorrectly </span>{% endif %}</a>{% endif %} predicted that there{% if jp.result %}'s no{% else %} was a {% endif %} violation of human rights in <a target="_blank" href='https://hudoc.echr.coe.int/eng#{"fulltext":["{{d.docname}}"]}'><i>{{ d.docname }}</i></a>.</h1>
            <!-- <div class="inner row">
                <div class="col-6">
            <ul class="actions">
                <li><a href="{{ url_for('application_desc', appno = d.appno | replace('/', 'e')) }}" class="button disabled">Admissibility</a></li>
                <li><a href="#" class="button primary">Judgment</a></li>
            </ul>
            </div>
            <div class="col-6 ">
            <ul class="actions" style="float:right;">
                <li style="display:flex;justify-content:flex-end;align-items:flex-end;">
                    <label for="order">Choose model:</label>
                </li>
                <li>
                <select name="order" id="order" onchange="window.location=this.value;">
                    {% for name in modelnames %}
                    <option value="{{ url_for('application_comm', appno = d.appno | replace('/', 'e')) }}?modelname={{ name[0] }}" {% if mname == name %}selected="selected"{% endif %}>{{name[0]}}</option>
                    {% endfor %}
                </select>
                </li>
            </ul>
            </div>
            </div> -->
        </header>
        <section>
            <div class="row">
                <div class="col-md-4 col-12-medium">
                    <h3>Information</h3>
                    <ul class="alt">
                        {% if j %}
                        <li><b>Judgment date: </b>{{ j.kpdate.date() }}</li>
                        {% endif %}
                        <li><b>Communication date: </b>{{ d.kpdate.date() }}</li>
                        <li><b>Application number(s): </b>{{ d.appno }}</li>
                        <li>
                            <b id='country'>Country: &nbsp;</b>
                            {{ d.respondent }}
                        </li>
                        <li><b>Relevant ECHR article(s): </b>{{ d.article | replace(";", ", ")  }}</li>
                        {% if j %}
                        <li><b>Conclusion: </b><br/>{% autoescape false %}{{ j.conclusion | replace(";", "<br/>")}}{% endautoescape %}</li>
                        {% if j.res == 0 %}
                        <li style='color: {% if jp.result == j.res %}green{% else %}red{% endif %};'><b>Result: </b>Violation</li>
                        <a href="#judgment-text" class="button" style="display:flex;justify-content:center;align-items:center;">SEE FINAL JUDGMENT</a>
                        {% else %}
                        <li style='color: {% if jp.result == j.res %}green{% else %}red{% endif %};'><b>Result: </b>No violation</li>
                        <a href="#judgment-text" class="button" style="display:flex;justify-content:center;align-items:center;">SEE FINAL JUDGMENT</a>
                        {% endif %}
                        {% else %}
                        <li>No published judgment yet.</li>
                        {% endif %}

                    </ul>
                    <h3>JURI Prediction</h3>
                    <ul class="alt">
                        {% if jp %}
                        <li><b>Probability: </b>{{ jp.proba }}</li>
                        {% if jp.result %}
                        <li style='color: {% if jp.result == j.res %}green{% else %}red{% endif %};'><b>Prediction: </b>No violation</li>
                        {% else %}
                        <li style='color: {% if jp.result == j.res %}green{% else %}red{% endif %};'><b>Prediction: </b>Violation</li>
                        {% endif %}
                        {% else %}
                        <li>No prediction with this model.</li>
                        {% endif %}

                        {% if j and jp %}
                        {% if j.res == jp.result %}
                        <li></li>
                        <li style='background-color: green; color: white; text-align: center;'><h2>Consistent</h2></li>
                        {% else %}
                        <li style='background-color: red; color: white; text-align: center;'><h2>Inconsistent</h2></li>
                        {% endif %}
                        {% else %}
                        <li style='background-color: grey; color: white; text-align: center;'><h2>Unknown</h2></li>
                        {% endif %}
                        </li>
                    </ul>
                    <br>
                <div class="scrollingBox">
                    <h3>Legend</h3>
                    <div style="display: inline-grid;">
                        {% if j and jp %}
                        <div><div class="box" style="background-color: #d7ffd9"></div>&nbsp;In line with the court's judgment</div>
                        <div><div class="box" style="background-color: #ffcccb"></div>&nbsp;In opposition to the court's judgment</div>
                        {% else %}
                        <div><div class="box" style="background-color: #c3fdff"></div>&nbsp;In line with our prediction</div>
                        <div><div class="box" style="background-color: #ffffcf"></div>&nbsp;In opposition to our prediction</div>
                        {% endif %}
                        Darker color: higher probability
                    </div>

                </div>
                <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
                </div>
                <div class="col-md-8 col-12-medium" >
                    <div style="display: flex;">
                        {% if j and jp %}
                        <div><div class="box" style="background-color: #d7ffd9"></div>:&nbsp;In line with the court's judgment&nbsp;&nbsp;</div>
                        <div><div class="box" style="background-color: #ffcccb"></div>:&nbsp;In opposition to the court's judgment</div>
                        {% else %}
                        <div><div class="box" style="background-color: #c3fdff"></div>:&nbsp;In line with our prediction&nbsp;&nbsp;</div>
                        <div><div class="box" style="background-color: #ffffcf"></div>:&nbsp;In opposition to our prediction</div>
                        {% endif %}
                    </div>

                    <h2>Communication text used for prediction</h2>
                    <p class='predtext'>
                        {% for sent in sents %}

                        <!-- {% if loop.index0 == rand1 and max_sent %}
                        <blockquote>{{ max_sent }}<h3 style="font-size: 12px; color: grey; font-style: initial; margin: 0">Support for violation</h3></blockquote>
                        {% elif loop.index0 == rand2 and min_sent %}
                        <blockquote>{{ min_sent }}<h3 style="font-size: 12px; color: grey; font-style: initial; margin: 0">Support for non-violation</h3></blockquote>
                        {% endif %} -->

                        {% if sent_result[loop.index0] == 0 %}
                        <span  style="font-family: 'Source Sans Pro', sans-serif;" data-toggle="popover" data-placement="top" title="VIOLATION" data-content="Probability: {{sent_proba[loop.index0]}}" {% if loop.index0 in critical_indexes %} style="background:{{critical_indexes[loop.index0]}}" class="criticalspan" {% endif %} data-trigger="hover">
                            {% autoescape false %}{{ sent | replace('\n', '<br>') }}{% endautoescape %}</span>
                        {% elif sent_result[loop.index0] == 1 %}
                        <span  style="font-family: 'Source Sans Pro', sans-serif;" data-toggle="popover" data-placement="top" title="NO VIOLATION" data-content="Probability: {{sent_proba[loop.index0]}}" {% if loop.index0 in critical_indexes %} style="background:{{critical_indexes[loop.index0]}}" class="criticalspan" data-trigger="hover" {% endif %}>
                            {% autoescape false %}{{ sent | replace('\n', '<br>') }}{% endautoescape %}</span>
                        {% endif %}
                        <br>
                        {% endfor %}
                    </p>
                    <div id="judgment-text">
                    <h2>Judgment</h2>
                    {% if j %}
                        {% for sent in jsents %}

                        <span>
                            {% autoescape false %}{{ sent | remove_newlines | replace('\n', '<br/>') }}{% endautoescape %}</span>
                        {% endfor %}
                    {% else %}
                        <p>The official judgment is not available yet.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block scripts %}
<style type="text/css">
.predtext span:hover {
box-shadow: 0 0 11px rgba(33,33,33,.2);
}
blockquote {
    color:#2bb6c9;
    font-size: 30px;
}
#country {
    display: inline-flex;
}
.sidebarBox {
    width: 360px; /* Replace with your sidebar width */
    float: right;
    position: relative;
}
.scrollingBox {
    width: 360px; /* Replace with the same width as sidebar */
}

.box {
  height: 30px;
  width: 15px;
  float: left;
  border: none;
  padding: 0;
  margin-bottom: 1em;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    left: 25px;
    display: none;
    z-index: 1000000000;
}

@media screen and (max-width: 768px) {
  .scrollingBox {
    visibility: hidden;
    display: none;
    /* your any other css styles */
  }
}
</style>
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})
// $('.criticalspan')
//     .popover('show');

const parentElement = document.getElementById("country");
const flag = new CountryFlag(parentElement);
flag.selectByAlpha3("{{ d.respondent }}");

$(function() {
        var offsetPixels = $( ".scrollingBox" ).offset().top; // change with your sidebar height
        var boxHeight = $( ".scrollingBox" ).outerHeight(true); // change with your sidebar height
        var footerBot = $( "#judgment-text" ).offset().top; // change with your sidebar height

        $(window).scroll(function() {
            if ($(window).scrollTop() + 10 >= footerBot) {
                $(".scrollingBox").fadeOut();
            } else if ($(window).scrollTop() > offsetPixels) {
                $(".scrollingBox").css({
                    "display": "block",
                    "position": "fixed",
                    "top": "15px"
                });
            } else {
                $(".scrollingBox").css({
                    "display": "block",
                    "position": "relative"
                    // "top": "0"
                });
            }
            
        });
    });


$(document).ready(function(){
    var footerBot = $( "#footer" ).offset().top; // change with your sidebar height

    $(window).scroll(function () {
            if ($(this).scrollTop() > 1200 && $(window).scrollTop() + $(window).height() < footerBot) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
});


</script>
{% endblock %}