{% extends 'base.html' %}
{% block title %}{{ d.docname }}{% endblock %}
{% block main %}
<!-- Main -->
<div id="main">
    <div class="inner">
        <header>
            <h1>{{ d.docname }}</h1>
            <div class="inner row">
                <div class="col-6">
            <ul class="actions">
                <li><a href="{{ url_for('application_desc', appno = d.appno | replace('/', 'e')) }}" class="button">Admissibility</a></li>
                <li><a href="#" class="button primary">Judgment</a></li>
            </ul>
            </div>
                <div class="col-6 ">
            <ul class="actions" style="float:right;">
                <li style="display:flex;justify-content:flex-end;align-items:flex-end;">
                    <label for="order">Choose model:</label>
                </li>
                <li>
                <select name="order" id="order" onchange="window.location=this.value;">
                    {% for name in modelnames %}
                    <option value="{{ url_for('application_comm', appno = d.appno | replace('/', 'e')) }}?modelname={{ name[0] }}" {% if mname == name %}selected="selected"{% endif %}>{{name[0]}}</option>
                    {% endfor %}
                </select>
                </li>
            </div>

            </ul>
            </div>
        </header>
        <section>
            <div class="row">
                <div class="col-4 col-12-medium">
                    <h3>Information</h3>
                    <ul class="alt">
                        {% if j %}
                        <li><b>Date: </b>{{ j.kpdate.date() }}</li>
                        {% else %}
                        <li><b>Admissibility date: </b>{{ d.kpdate.date() }}</li>
                        {% endif %}
                        <li><b>Application number(s): </b>{{ d.appno }}</li>
                        <li>
                            <b id='country'>Country: </b>
                            {{ d.respondent }}
                        </li>
                        {% if j %}
                        <li><b>Label: </b>{{ j.conclusion }}</li>
                        {% if j.res == 0 %}
                        <li style='color: green;'><b>Result: </b>Violation</li>
                        <a href="#judgment-text" class="button" style="display:flex;justify-content:center;align-items:center;">SEE FINAL JUDGMENT</a>
                        {% else %}
                        <li style='color: red;'><b>Result: </b>No violation</li>
                        <a href="#judgment-text" class="button" style="display:flex;justify-content:center;align-items:center;">SEE FINAL JUDGMENT</a>
                        {% endif %}
                        {% else %}
                        <li>No published judgement yet.</li>
                        {% endif %}

                    </ul>
                    <h3>JURI Prediction</h3>
                    <ul class="alt">
                        {% if jp %}
                        <li><b>Probability: </b>{{ jp.proba }}</li>
                        {% if jp.result %}
                        <li style='color: red;'><b>Result: </b>No violation</li>
                        {% else %}
                        <li style='color: green;'><b>Result: </b>Violation</li>
                        {% endif %}
                        {% else %}
                        <li>No prediction with this model.</li>
                        {% endif %}

                        {% if j and jp %}
                        {% if j.res == jp.result %}
                        <li></li>
                        <li style='background-color: green; color: white; text-align: center;'><h2>Consistent</h2></li>
                        {% else %}
                        <li style='background-color: red; color: white; text-align: center;'><h2>Inconsistent</h2></li>
                        {% endif %}
                        {% else %}
                        <li style='background-color: grey; color: white; text-align: center;'><h2>Unknown</h2></li>
                        {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-8 col-12-medium">
                    <h2>Text used for prediction</h2>
                    <p>
                        {% for sent in sents %}

                        {% if loop.index0 == rand1 and max_sent %}
                        <blockquote>{{ max_sent }}<h3 style="font-size: 12px; color: grey; font-style: initial; margin: 0">Support for violation</h3></blockquote>
                        {% elif loop.index0 == rand2 and min_sent %}
                        <blockquote>{{ min_sent }}<h3 style="font-size: 12px; color: grey; font-style: initial; margin: 0">Support for non-violation</h3></blockquote>
                        {% endif %}

                        {% if sent_result[loop.index0] == 0 %}
                        <span data-toggle="popover" data-placement="top" title="VIOLATION" data-content="Probability: {{sent_proba[loop.index0]}}" {% if loop.index0 in critical_indexes %} style="background:{{critical_indexes[loop.index0]}}" class="criticalspan" data-trigger="click" {% else %} data-trigger="hover" {% endif %}>
                            {% autoescape false %}{{ sent | replace('\n', '<br>') }}{% endautoescape %}</span>
                        {% elif sent_result[loop.index0] == 1 %}
                        <span data-toggle="popover" data-placement="top" title="NO VIOLATION" data-content="Probability: {{sent_proba[loop.index0]}}" {% if loop.index0 in critical_indexes %} style="background:{{critical_indexes[loop.index0]}}" class="criticalspan" data-trigger="click" {% else %} data-trigger="hover" {% endif %}>
                            {% autoescape false %}{{ sent | replace('\n', '<br>') }}{% endautoescape %}</span>
                        {% endif %}
                        <br>
                        {% endfor %}
                    </p>
                    <div id="judgment-text">
                    <h2>Judgment</h2>
                    {% if j %}
                        {% for sent in jsents %}
                        <span>
                            {% autoescape false %}{{ sent | replace('\n', '<br>') }}{% endautoescape %}</span>
                        {% endfor %}
                    {% else %}
                        <p>The official judgment is not published yet.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block scripts %}
<style type="text/css">
span:hover {
box-shadow: 0 0 11px rgba(33,33,33,.2);
}
blockquote {
    color:#2bb6c9;
    font-size: 30px;
}
#country {
    display: inline-flex;
}
</style>
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})
$('.criticalspan')
    .popover('show');

const parentElement = document.getElementById("country");
const flag = new CountryFlag(parentElement);
flag.selectByAlpha3("{{ d.respondent }}");
</script>
{% endblock %}