{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block main %}
<!-- Main -->
<div id="main">
	<div class="inner">
		<header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
 
                    <div class="carousel-item active">
                        <h1>I'm predicting judgment results from the European Court of Human Rights with an accuracy of <a href="{{ url_for('list_comm') }}" style='color:#f2849e'>{{"%.1f" | accs[-2]*100}}%</a>.</h1>
                        <p>JURI reads press releases from previous years and decisions of the cases judged by the European Court of Human Rights and predicts decisions the Court will make. Every week it learns from its mistakes.</p>
                    </div>
                    <div class="carousel-item">
                        <h1>Over the last half year we've correctly predicted {{ "%.1f" | format(evaluation.last_half_year*100) }}% of judgments.</h1>
                        <p>The accuracy for the last year is {{"%.1f" | evaluation.last_year*100}}%, and {{"%.1f" | evaluation.overall*100}}% over all cases.</p>
                    </div>
                    <div class="carousel-item">
                        <h1>The prediction model is updated on a monthly basis.</h1>
                        <div class="chart-container" style="position: relative; height:200px; width:100%">
                        <canvas id="chart" height="200"></canvas>
                    </div>
                        <!-- <a href="{{ url_for('list_comm') }}" class="button primary">Read more</a> -->
                    </div>
                </div>
                <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span> -->
                <!-- </a> -->
            </div>
		</header>
		<!-- <section class="tiles">
			<article class="style1">
				<span class="image">
					<img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
				</span>
				<a href="{{ url_for('list_comm') }}">
					<h2>Communications</h2>
					<div class="content">
						<p>Predictions based on communications made by ECtHR Court.</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" />
				</span>
				<a href="{{ url_for('latest') }}">
					<h2>Recent Judgments</h2>
					<div class="content">
						<p>Recent published judgments by ECtHR and comparison to our predictions.</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<img src="{{ url_for('static', filename='images/pic03.png') }}" alt="" />
				</span>
				<a href="{{ url_for('list_reports') }}">
					<h2>Weekly Reports</h2>
					<div class="content">
						<p>Check our prediction reports published every week.</p>
					</div>
				</a>
			</article>
		</section> -->
        <span class="image main">
            <img src="{{ url_for('static', filename='images/cm.jpg') }}" alt="">
            <em style="font-size: small">Cropped version of the original photo by Adrian Grycuk (license: <a href="https://creativecommons.org/licenses/by-sa/3.0/pl/deed.en" target='_blank'>CC BY-SA 3.0 PL</a>).</em>
        </span>
		<section>
			<div class="row">
				<div class="col-12">
					<h3>Recent judgments</h3>
					<ul>
					{% for pred, judg in preds %}

                        <li><a href="{{ url_for('application_comm', appno = pred.appno | replace('/', 'e')) }}">{{ judg.docname }}</a> ({{judg.kpdate.date()}})
                        	<br>
                        {% if pred.result == judg.res %}
                        {% if pred.result == 0 %}
                        Prediction: <span style='color: green;'><b>Violation</b></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Judgment: <span style='color: green;'><b>Violation</b></span>
                        {% else %}
                        Prediction: <span style='color: green;'><b>No violation</b></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Judgment: <span style='color: green;'><b>No violation</b></span>
                        {% endif %}
                        {% else %}
                        {% if pred.result == 0 %}
                        Prediction: <span style='color: red;'><b>Violation</b></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Judgment: <span style='color: red;'><b>No violation</b></span>
                        {% else %}
                        Prediction: <span style='color: red;'><b>No violation</b></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Judgment: <span style='color: red;'><b>Violation</b></span>
                        {% endif %}
                        {% endif %}

                    {% endfor %}
                    </ul>
                    <a href="{{ url_for('list_comm') }}" class="button">Read more</a>
				</div>
				<!-- <div class="col-6">
					<h3>to be announced</h3>
					<ul>

                    </ul>
                    <a href="{{ url_for('report', report_id=1) }}" class="button fit">Read all</a>
				</div> -->
			</div>
		</section>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<style type="text/css">
.carousel-indicators li {
    background-color: rgb(128, 128, 128, 0.5);
    border-bottom: none;
}
.carousel-indicators li .active{
    opacity: 1;

}
</style>
<script type="text/javascript">
function normalizeSlideHeights() {
    $('.carousel-inner').each(function(){
      var items = $('.carousel-item', this);
      // reset the height
      items.css('min-height', 0);
      // set the height
      var maxHeight = Math.max.apply(null, 
          items.map(function(){
              return $(this).outerHeight()}).get() );
      items.css('min-height', maxHeight + 'px');
    })
}

$(window).on(
    'load resize orientationchange', 
    normalizeSlideHeights);

var ctx = document.getElementById('chart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: {% autoescape false %}{{dtes[-30:]}}{% endautoescape %},
        datasets: [{
            label: 'accuracy',
            fill: false,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{accs[-30:]}}
        }, {
            label: 'f-score',
            fill: false,
            backgroundColor: 'rgb(75, 192, 192)',
            borderColor: 'rgb(75, 192, 192)',
            data: {{fscs[-30:]}}
        }]
    },

    // Configuration options go here
    options: {
        maintainAspectRatio: false
    }
});

</script>
{% endblock %}