{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block main %}
<!-- Main -->
<div id="main">
	<div class="inner">
		<header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> -->
                      </ol>
                    {% if monthname %}
                    <div class="carousel-item active">
                        <h1>I'm predicting judgments of the European Court of Human Rights with an accuracy of <a href="{{ url_for('list_comm', time='lm') }}" style='color:#f2849e'>{% if accs[-1] == 1 %}100{% elif accs[-1] == 0 %}0{% else %}{{"%.1f" | format(accs[-2]*100)}}{% endif %}%</a> over the <i>last month</i>.</h1>
                        <p>JURI reads published documents from previous years and decisions of the cases judged by the European Court of Human Rights and predicts decisions the Court will make. Every month it learns from its mistakes.</p>
                    </div>
                    {% endif %}
<!--                     <div class="carousel-item">
                        <h1>I'm predicting judgments of the European Court of Human Rights with an accuracy of <a href="{{ url_for('list_comm', time='l3m') }}" style='color:#f2849e'>{{"%.1f" | format(evaluation.last_half_year*100)}}%</a> over the <i>last three months</i>.</h1>
                        <p>JURI reads published documents from previous years and decisions of the cases judged by the European Court of Human Rights and predicts decisions the Court will make. Every month it learns from its mistakes.</p>
                    </div> -->
                    <div class="carousel-item">
                        <h1>I'm predicting judgments of the European Court of Human Rights with an accuracy of <a href="{{ url_for('list_comm', time='ly') }}" style='color:#f2849e'>{{"%.1f" | format(evaluation.last_year*100)}}%</a> over the <i>last year</i>.</h1>
                        <p>JURI reads published documents from previous years and decisions of the cases judged by the European Court of Human Rights and predicts decisions the Court will make. Every month it learns from its mistakes.</p>
                    </div>
                    <div class="carousel-item">
                        <h1>I'm predicting judgments of the European Court of Human Rights with an <i>overall</i> accuracy of <a href="{{ url_for('list_comm') }}" style='color:#f2849e'>{{"%.1f" | format(evaluation.overall*100)}}%</a>.</h1>
                        <p>JURI reads published documents from previous years and decisions of the cases judged by the European Court of Human Rights and predicts decisions the Court will make. Every month it learns from its mistakes.</p>
                    </div>
                        <!-- <a href="{{ url_for('list_comm') }}" class="button primary">Read more</a> -->
                    </div>
                </div>
                <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span> -->
                <!-- </a> -->
		</header>

        <span class="image main">
            <img src="{{ url_for('static', filename='images/cm.jpg') }}" alt="">
            <em style="font-size: small">Cropped version of the original photo by Adrian Grycuk (license: <a href="https://creativecommons.org/licenses/by-sa/3.0/pl/deed.en" target='_blank'>CC BY-SA 3.0 PL</a>).</em>
        </span>
		<section>
			<div class="row">
				<div class="col-md-6 col-12-medium">
					<h3>Recent judgments</h3>
					<ul id="case-list">
					{% for pred, judg in preds %}

                        <li><a href="{{ url_for('application_comm', appno = pred.appno | replace('/', 'e')) }}">{{ judg.docname }}</a> ({{judg.kpdate.date()}})
                        	<br>
                        {% if pred.result == judg.res %}
                        {% if pred.result == 0 %}
                        Prediction: <span style='color: green;'><b>Violation</b></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Judgment: <span style='color: green;'><b>Violation</b></span>
                        {% else %}
                        Prediction: <span style='color: green;'><b>No violation</b></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Judgment: <span style='color: green;'><b>No violation</b></span>
                        {% endif %}
                        {% else %}
                        {% if pred.result == 0 %}
                        Prediction: <span style='color: red;'><b>Violation</b></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Judgment: <span style='color: red;'><b>No violation</b></span>
                        {% else %}
                        Prediction: <span style='color: red;'><b>No violation</b></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Judgment: <span style='color: red;'><b>Violation</b></span>
                        {% endif %}
                        {% endif %}

                    {% endfor %}
                    </ul>
                    <a href="{{ url_for('list_comm') }}" class="button">Read more</a>
				</div>
                <div class="col-md-6 col-12-medium">
                    <h3>Performance by month</h3>
                    <div class="chart-container" style="position: relative; height:300px; width:95%">
                        <canvas id="chart" height="200"></canvas>
                    </div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<style type="text/css">
.carousel-indicators li {
    background-color: rgb(128, 128, 128, 0.5);
    border-bottom: none;
}
.carousel-indicators li .active{
    opacity: 1;

}
.carousel-item h1 {
    font-size: 2.5em;
}
</style>
<script type="text/javascript">
function normalizeSlideHeights() {
    $('.chart-container').each(function(){
      var items = $('.carousel-item', this);
      // reset the height
      items.css('min-height', 0);
      // set the height
      var maxHeight = Math.max.apply(null, 
          items.map(function(){
              return $(this).outerHeight()}).get() );
      items.css('min-height', maxHeight + 'px');
    })
}

function normalizeGraphHeight() {
    var caselist_height = $('#case-list').outerHeight() + 50;
    var graph = $('.chart-container')
    graph.css('height', caselist_height);
}

$(window).on(
    'load resize orientationchange', 
    normalizeSlideHeights);
$(window).on(
    'load resize orientationchange', 
    normalizeGraphHeight);

var ctx = document.getElementById('chart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: {% autoescape false %}{{dtes[-23:-1]}}{% endautoescape %},
        datasets: [{
            label: 'accuracy (%)',
            fill: false,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{accs_int[-23:-1]}}
        }]
    },

    // Configuration options go here
    options: {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                    suggestedMax: 100,    // minimum will be 0, unless there is a lower value.
                    // OR //
                    beginAtZero: true   // minimum value will be 0.
                }
            }]
        }

    }
});

</script>
{% endblock %}