{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block main %}
<style type="text/css">
.pagination {
  display: inline-block;

}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #f2849e;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
<!-- Main -->
<div id="main">
    <div class="inner">
        <header>
            <h1>List of cases</h1>
            <div class="col-12">
                <select name="order" id="order" onchange="window.location=this.value;">
                    <option value="{{ url_for('list_desc', page=page, ) }}?order=td" {% if order == 'td' %}selected="selected"{% endif %}>Time (Descending)</option>
                    <option value="{{ url_for('list_desc', page=page, ) }}?order=ta" {% if order == 'ta' %}selected="selected"{% endif %}>Time (Ascending)</option>
                    <option value="{{ url_for('list_desc', page=page) }}?order=c" {% if order == 'c' %}selected="selected"{% endif %}>Country</option>
                </select>
            </div>
        </header>
        <section>
            <br><br><h2>Page {{page}}</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Application Number</th>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in pagination.items %}
                    <tr>
                        <td>
                            {% if item.appno|length > 15 %}
                            {{ item.appno[:15] }}...
                            {% else %}
                            {{ item.appno }}
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for('application', appno = item.appno | replace('/', 'e')) }}">{{ item.docname }}</a></td>
                        <td>{{ item.kpdate }}</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>
        <div class='pagination pagination-lg' style="margin-left:auto;margin-right:auto;">

            <a class="page-link next page-numbers" href="{% if pagination.has_prev %}{{ url_for('list_desc',
            page = pagination.page - 1) }}{% else %}#{% endif %}">previous</a>

            {% for p in pagination.iter_pages() %}
            {% if p %}
            {% if p == pagination.page %}
            <a class='page-link active'>{{ p }}</a>
            {% else %}
            <a class='page-link' href="{{ url_for('list_desc', page = p) }}">{{ p }}</a>
            {% endif %}
            {% else %}
            <a href="#">&hellip;</a>
            {% endif %}
            {% endfor %}
            <a class="next page-link" href="{% if pagination.has_next %}{{ url_for('list_desc',
            page = pagination.page + 1) }}{% else %}#{% endif %}">next</a>


            </div>
        </section>
    </div>
</div>
{% endblock %}