{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block main %}
<style type="text/css">
.pagination {
  display: inline-block;

}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #f2849e;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
<!-- Main -->
<div id="main">
    <div class="inner">
        <header>
            <h1>Here is a list of communicated cases from ECtHR. </h1>
            <p>You may choose to sort by date of communication or final judgment, filter by judgment time or relevant ECHR article. {% if pagination.total %}The accuracy for the current selection is <b id="accuracy"></b><span id="percentage">..</span>.{% endif %}</p>
            <div class="row">
            <div class="col-4">
                <select name="order" id="order" onchange="window.location=this.value;">
                    <option value="{{ url_for(list_name, page=page, time=time, order='jtd', art=art) }}" {% if order == 'jtd' %}selected="selected"{% endif %}>Judgment date (Descending)</option>
                    <option value="{{ url_for(list_name, page=page, time=time, order='jta', art=art) }}" {% if order == 'jta' %}selected="selected"{% endif %}>Judgment date (Ascending)</option>
                    <option value="{{ url_for(list_name, page=page, time=time, order='td', art=art) }}" {% if order == 'td' %}selected="selected"{% endif %}>Communication date (Descending)</option>
                    <option value="{{ url_for(list_name, page=page, time=time, order='ta', art=art) }}" {% if order == 'ta' %}selected="selected"{% endif %}>Communication date (Ascending)</option>
                </select>
            </div>
            <div class="col-4">
                <select name="time" id="time" onchange="window.location=this.value;">
                    <!-- <option value="{{ url_for(list_name, page=page, time='all', order=order, art=art) }}" {% if time == 'all' %}selected="selected"{% endif %}>All communicated cases</option> -->
                    <option value="{{ url_for(list_name, page=1, time='aj', order=order, art=art) }}" {% if time == 'aj' %}selected="selected"{% endif %}>All judged cases</option>
                    <option value="{{ url_for(list_name, page=1, time='ly', order=order, art=art) }}" {% if time == 'ly' %}selected="selected"{% endif %}>Cases judged last year</option>
                    <option value="{{ url_for(list_name, page=1, time='l3m', order=order, art=art) }}" {% if time == 'l3m' %}selected="selected"{% endif %}>Cases judged last three months</option>
                    <option value="{{ url_for(list_name, page=1, time='lm', order=order, art=art) }}" {% if time == 'lm' %}selected="selected"{% endif %}>Cases judged last month</option>
                    <option value="{{ url_for(list_name, page=1, time='tm', order=order, art=art) }}" {% if time == 'tm' %}selected="selected"{% endif %}>Cases judged this month</option>
                    <!-- <option value="{{ url_for(list_name, page=1, time='lw', order=order, art=art) }}" {% if time == 'lw' %}selected="selected"{% endif %}>Cases judged last week</option> -->
                </select>
            </div>
            <div class="col-4">
                <select name="time" id="time" onchange="window.location=this.value;">
                    <option value="{{ url_for(list_name, page=page, time=time, order=order) }}" {% if not art %}selected="selected"{% endif %}>All articles</option>
                    {% for a in articles %}
                    <option value="{{ url_for(list_name, page=1, time=time, order=order, art=a.number) }}" {% if art == a.number %}selected="selected"{% endif %}>{{a.name}}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
        </header>
        <section>
            
            <br><br><h2>{% if pagination.has_prev or pagination.has_next %}Page {{page}}{% endif %}</h2>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Application Number</th>
                        <th>Title</th>
                        <th>Prediction</th>
                        <th>Decision</th>
                        <th>Communication date</th>
                        <th>Judgment date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item, comm in pagination.items %}
                    <tr>
                        <td>{{(pagination.page - 1) * 30 + loop.index0 + 1}}</td>
                        <td>
                            {% if item.appno|length > 15 %}
                            {{ item.appno[:15] }}...
                            {% else %}
                            {{ item.appno }}
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for(entry_name, appno = item.appno | replace('/', 'e')) }}">{{ comm.docname }}</a></td>
                        {% if item.jdgdate %}
                        {% if item.result == item.gold %}
                        {% if item.result == 0 %}
                        <td style='color: green;'><b>Violation</b></td>
                        <td style='color: green;'><b>Violation</b></td>
                        {% else %}
                        <td style='color: green;'><b>No violation</b></td>
                        <td style='color: green;'><b>No violation</b></td>
                        {% endif %}
                        {% else %}
                        {% if item.result == 0 %}
                        <td style='color: red;'><b>Violation</b></td>
                        <td style='color: red;'><b>No violation</b></td>
                        {% else %}
                        <td style='color: red;'><b>No violation</b></td>
                        <td style='color: red;'><b>Violation</b></td>
                        {% endif %}
                        {% endif %}
                        {% else %}
                        <td>{% if item.result == 0 %}Violation{% else %}No violation{% endif %}</td>
                        <td>-</td> 
                        {% endif %}                       
                        <td>{{ item.kpdate }}</td>
                        <td>{% if item.jdgdate %}{{ item.jdgdate }}{% else %}-{% endif %}</td>
                    </tr>
                    {% endfor %}
                    {% if not pagination.total %}
                    <tr><td colspan="6">There are no cases associated with the above filters.</td></tr>
                    {% endif %}

                </tbody>

            </table>
        </div>


        <div class='pagination pagination-lg' style="margin-left:auto;margin-right:auto;">
            {% if pagination.has_prev %}
            <a class="page-link next page-numbers" href="{% if pagination.has_prev %}{{ url_for(list_name,
            page = pagination.page - 1, time=time, order=order, art=art) }}?order={{order}}{% else %}#{% endif %}">previous</a>
            {% endif %}

            {% for p in pagination.iter_pages() %}
            {% if p %}
            {% if p == pagination.page %}
            <a class='page-link active'>{{ p }}</a>
            {% else %}
            <a class='page-link' href="{{ url_for(list_name, page = p, time=time, order=order, art=art) }}">{{ p }}</a>
            {% endif %}
            {% else %}
            <a href="#">&hellip;</a>
            {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
            <a class="next page-link" href="{% if pagination.has_next %}{{ url_for(list_name,
            page = pagination.page + 1, time=time, order=order, art=art) }}{% else %}#{% endif %}">next</a>
            {% endif %}


            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
   
function initAcc(){
    $.ajax({
        type:'GET',
        dataType: "json",
        url:"{% autoescape false %} {{ url_for('list_comm_info', page=page, time=time, order=order, art=art) }} {% endautoescape %}",
        success:function(res){
            var info = res.accuracy;
            var correct = res.correct;
            var total = res.total;
            if (info == 1) {
                $("#accuracy").text(parseFloat(info * 100).toFixed(0)+"%");
                $("#percentage").text(" ("+correct.toString()+"/"+total.toString()+")");
            } else {
                $("#accuracy").text(parseFloat(info * 100).toFixed(1)+"%");
                $("#percentage").text(" ("+correct.toString()+"/"+total.toString()+")");
            };
            

        },
        error:function(){
            console.log("Error obtaining accuracy");
        }
    });
}
    

$(window).on('load', function(){
    initAcc()
} );


</script>
{% endblock %}